@import url("css/theme.css");

span.strikethrough { text-decoration: line-through; }

.regbox {
	margin-top: 10px;
	border-radius: 1px solid;
	border-color: #333;
	border-spacing: 3px;
	margin: 0.5em 0 0.5em 1em;
	padding: 0.2em;
	line-height: 1.5em;
	width: 29em;
	text-align: center;
}

.regbox td {
	border: 1px solid;
	border-color: #333;
}

.regbox-type1 {
	background-color: #888;
}

.regbox-type2 {
	background-color: #2F2;
}
